/Framework/.vs/ConsoleApp1/DesignTimeBuild/*.v2
/Framework/.vs/ConsoleApp1/v16/*.suo
/Framework/.vs/Framework/v16/*.suo
/Framework/bin/Debug/netcoreapp3.1/*.json
/Framework/bin/Debug/netcoreapp3.1/*.dll
/Framework/bin/Debug/netcoreapp3.1/*.exe
/Framework/bin/Debug/netcoreapp3.1/*.pdb
/Framework/bin/Debug/netcoreapp3.1/cs/*.dll
/Framework/bin/Debug/netcoreapp3.1/de/*.dll
/Framework/bin/Debug/netcoreapp3.1/es/*.dll
/Framework/bin/Debug/netcoreapp3.1/fr/*.dll
/Framework/bin/Debug/netcoreapp3.1/it/*.dll
/Framework/bin/Debug/netcoreapp3.1/ja/*.dll
/Framework/bin/Debug/netcoreapp3.1/ko/*.dll
/Framework/bin/Debug/netcoreapp3.1/pl/*.dll
/Framework/bin/Debug/netcoreapp3.1/pt-BR/*.dll
/Framework/bin/Debug/netcoreapp3.1/ru/*.dll
/Framework/bin/Debug/netcoreapp3.1/tr/*.dll
/Framework/bin/Debug/netcoreapp3.1/zh-Hans/*.dll
/Framework/bin/Debug/netcoreapp3.1/zh-Hant/*.dll
/Framework/bin/Debug/*.json
/Framework/bin/Debug/*.txt
/Framework/obj/*.json
/Framework/obj/*.props
/Framework/obj/*.targets
/Framework/obj/Debug/netcoreapp3.1/*.cs
/Framework/obj/Debug/netcoreapp3.1/*.cache
/Framework/obj/Debug/netcoreapp3.1/*.CopyComplete
/Framework/obj/Debug/netcoreapp3.1/*.txt
/Framework/obj/Debug/netcoreapp3.1/*.dll
/Framework/obj/Debug/netcoreapp3.1/*.pdb
/Framework/obj/Debug/netcoreapp3.1/*.exe
/Framework/obj/*.cache
/Hotfix/bin/Debug/netcoreapp3.1/*.json
/Hotfix/bin/Debug/netcoreapp3.1/*.dll
/Hotfix/bin/Debug/netcoreapp3.1/*.exe
/Hotfix/bin/Debug/netcoreapp3.1/*.pdb
/Hotfix/obj/Debug/netcoreapp3.1/*.cs
/Hotfix/obj/Debug/netcoreapp3.1/*.cache
/Hotfix/obj/Debug/netcoreapp3.1/*.CopyComplete
/Hotfix/obj/Debug/netcoreapp3.1/*.txt
/Hotfix/obj/Debug/netcoreapp3.1/*.dll
/Hotfix/obj/Debug/netcoreapp3.1/*.pdb
/Hotfix/obj/Debug/netcoreapp3.1/*.exe
/Hotfix/obj/*.json
/Hotfix/obj/*.props
/Hotfix/obj/*.targets
/Hotfix/obj/*.cache
